*.cache

parsed_data/
__pycache__/
*.egg-info
*.ipynb_checkpoints/

# don't version the virtual environment for testing
venv*

.vscode

# pytest coverage
.coverage
coverage.xml

# profiling
.prof

# PyPI
.pypirc
dist

# mkdocs
site

TODO.md